[package]
name = "rio"
version = { workspace = true }
edition = { workspace = true }
authors = { workspace = true }

[dependencies]
wgpu = { workspace = true }
tokio = { version = "1.24.2", features = ["full"] }
winit = "0.27.5"
image = { version = "0.24.0", default-features = false, features = ["ico"] }
bytemuck = { workspace = true }
renderer = { path = "../renderer" }
teletypewriter = { path = "../teletypewriter" }
colors = { path = "../colors" }
ansi-machine = { path = "../ansi-machine" }
config = { path = "../config" }

[package.metadata.bundle]
name = "Rio"
identifier = "com.raphaelamorim.rio"
#icon = ["src/32x32.png", "128x128.png", "128x128@2x.png"]
icon = ["src/assets/images/logo.png"]
version = "1.0.0"
resources = ["./src/assets"]
copyright = "Copyright (c) Raphael Amorim 2023. All rights reserved."
category = "Developer Tool"
short_description = "Terminal App"
long_description = """
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut
enim ad minim veniam, quis nostrud exercitation ullamco laboris
nisi ut aliquip ex ea commodo consequat.
"""
deb_depends = ["libgl1-mesa-glx", "libsdl2-2.0-0 (>= 2.0.5)"]