.mediaSection {
  margin-top: 4rem;
  padding-bottom: 0rem;
}

.title {
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
  color: #3c3c43;

  margin-bottom: 2.75rem;
}

[data-theme='dark'] .title {
  color: #f8f8f8;
}

.media {
  background: #252529;
  padding: 0.3rem;
}

@media (min-width: 640px) {
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 960px) {
  .title {
    font-size: 2.5rem;
  }
}
