[package]
authors = ["Raphael Amorim <rapha850@gmail.com>"]
description = "Parser for implementing terminal emulators"
repository = "https://github.com/raphamorim/rio"
documentation = "https://github.com/raphamorim/rio"
readme = "README.md"
license = "Apache-2.0 OR MIT"
version = { workspace = true }
name = "copa"
edition = "2021"

[dependencies]
rio-proc-macros = { workspace = true }
arrayvec = { version = "0.7.6", default-features = false, optional = true }

[features]
default = []
no_std = ["arrayvec"]
nightly = []
