[package]
authors = ["Raphael Amorim <rapha850@gmail.com>"]
description = "Parser for implementing terminal emulators"
repository = "https://github.com/alacritty/vte"
documentation = "https://docs.rs/vte/"
readme = "README.md"
license = "Apache-2.0 OR MIT"
version = { workspace = true }
name = "copa"
edition = "2021"
rust-version = "1.72.1"

[dependencies]
rio-proc-macros = { workspace = true }
arrayvec = { version = "0.7.4", default-features = false, optional = true }

[dev-dependencies]
unicode-normalization = "0.1"

[features]
default = ["no_std"]
no_std = ["arrayvec"]
nightly = []
