<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleDisplayName</key>
  <string>Rio</string>
  <key>CFBundleExecutable</key>
  <string>rio</string>
  <key>CFBundleIdentifier</key>
  <string>com.raphaelamorim.rio</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Rio</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <!-- <string>Rio-canary.icns</string> -->
  <string>Rio-stable.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>0.0.7</string>
  <key>CFBundleVersion</key>
  <string>20230528.115631</string>
  <key>CSResourcesFileMapped</key>
  <true/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.14</string>
  <key>LSRequiresCarbon</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>NSAppleEventsUsageDescription</key>
  <string>An application in Rio would like to access AppleScript.</string>
  <key>NSSystemAdministrationUsageDescription</key>
  <string>An application in Rio requires elevated permissions.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>An application in Rio would like to access calendar data.</string>
  <key>NSCameraUsageDescription</key>
  <string>An application in Rio would like to access the camera.</string>
  <key>NSContactsUsageDescription</key>
  <string>An application in Rio wants to access your contacts.</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>An application in Rio would like to access your location information, even in the background.</string>
  <key>NSLocationUsageDescription</key>
  <string>An application in Rio would like to access your location information.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>An application in Rio would like to access your location information while active.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>An application in Rio would like to access your microphone.</string>
  <key>NSRemindersUsageDescription</key>
  <string>An application in Rio would like to access your reminders.</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (c) Raphael Amorim 2023. All rights reserved.</string>
</dict>
</plist>
