<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleDisplayName</key>
  <string>Rio</string>
  <key>CFBundleExecutable</key>
  <string>rio</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
        <key>CFBundleTypeIconFile</key>
        <string>Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
            <string>public.text</string>
            <string>public.plain-text</string>
            <string>public.utf8-plain-text</string>
        </array>
    </dict>
    <dict>
        <key>CFBundleTypeIconFile</key>
        <string>Document</string>
        <key>CFBundleTypeName</key>
        <string>Rio Text Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
            <string>****</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Default</string>
        <key>CFBundleTypeExtensions</key>
        <array>
            <string>Gemfile</string>
            <string>c</string>
            <string>c++</string>
            <string>cc</string>
            <string>cpp</string>
            <string>css</string>
            <string>erb</string>
            <string>ex</string>
            <string>exs</string>
            <string>go</string>
            <string>h</string>
            <string>h++</string>
            <string>hh</string>
            <string>hpp</string>
            <string>html</string>
            <string>js</string>
            <string>json</string>
            <string>jsx</string>
            <string>md</string>
            <string>py</string>
            <string>rb</string>
            <string>rkt</string>
            <string>rs</string>
            <string>scm</string>
            <string>toml</string>
            <string>ts</string>
            <string>tsx</string>
            <string>txt</string>
        </array>
    </dict>
    <dict>
        <key>CFBundleTypeRole</key>
        <string>Shell</string>
        <key>LSItemContentTypes</key>
        <array>
            <string>public.unix-executable</string>
        </array>
	</dict>
  </array>
  <key>CFBundleIdentifier</key>
  <string>com.raphaelamorim.rio</string>
  <key>CFBundleGetInfoString</key>
  <string>Hardware-accelerated GPU terminal emulator. More information: https://raphamorim.io/rio/</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Rio</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <string>icon</string>
  <key>MDItemKeywords</key>
  <string>Terminal</string>
  <key>CFBundleShortVersionString</key>
  <string>{{.Version}}</string>
  <key>CFBundleVersion</key>
  <string>20230528.115631</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>Rio</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>rio</string>
      </array>
    </dict>
  </array>
  <key>CSResourcesFileMapped</key>
  <true/>
  <key>LSRequiresNativeExecution</key>
  <true/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.utilities</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.15.7</string>
  <key>LSRequiresCarbon</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>NSAppleEventsUsageDescription</key>
  <string>An application in Rio would like to access AppleScript.</string>
  <key>NSSystemAdministrationUsageDescription</key>
  <string>An application in Rio requires elevated permissions.</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>An application in Rio wants to use Bluetooth.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>An application in Rio would like to access calendar data.</string>
  <key>NSCameraUsageDescription</key>
  <string>An application in Rio would like to access the camera.</string>
  <key>NSCameraUseContinuityCameraDeviceType</key>
  <true/>
  <key>NSContactsUsageDescription</key>
  <string>An application in Rio wants to access your contacts.</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>An application in Rio would like to access your location information, even in the background.</string>
  <key>NSLocationUsageDescription</key>
  <string>An application in Rio would like to access your location information.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>An application in Rio would like to access your location information while active.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>An application in Rio would like to access your microphone.</string>
  <key>NSLocationTemporaryUsageDescriptionDictionary</key>
  <string>A program running inside Rio would like to access your location temporarily.</string>
  <key>NSRemindersUsageDescription</key>
  <string>An application in Rio would like to access your reminders.</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (c) Raphael Amorim 2022-present. All rights reserved.</string>
  <key>NSRequiresAquaSystemAppearance</key>
  <string>NO</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>A program running inside Rio would like to access speech recognition.</string>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>NSSupportsSuddenTermination</key>
  <false/>
  <key>NSSystemAdministrationUsageDescription</key>
  <string>A program running inside Rio requires elevated privileges.</string>
  <key>TICapsLockLanguageSwitchCapable</key>
  <true/>
  <key>com.apple.security.automation.apple-events</key>
  <true/>
</dict>
</plist>
