/*background = '#0F0D0E'
foreground = '#F9F4DA'
cursor = '#F38BA3'
green = '#0BA95B'
red = '#ED203D'
blue = '#12B5E5'
yellow = '#FCBA28'
magenta = '#7B5EA7'*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* silkscreen-regular - latin */
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  src: url('silkscreen/silkscreen-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('silkscreen/silkscreen-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('silkscreen/silkscreen-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('silkscreen/silkscreen-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('silkscreen/silkscreen-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('silkscreen/silkscreen-v1-latin-regular.svg#Silkscreen') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8em;
  /*background: #333;*/
  background: #F38BA3;
  color: #F9F4DA;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica;
  font-size: 20px;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 820px;
  margin: 0 auto;
}

.container.post {
  padding: 40px;
  background: #0F0D0E;
}

.container.content {
  padding: 40px;
  background: #0F0D0E;
  margin-top: 30px;
  padding-top: 80px;
  border-radius: 20px;
  z-index: 1;
  position: relative;
}

.container.content h2 {
  margin: 12px 0;
}

.container.content p {
  line-height: 1.4em;
  padding: 12px;
}

.container.content ul {
  margin: 10px;
}

.container.content a, .testimonial a {
  text-decoration: none;
  color: #12B5E5;
}

.container.content a:hover {
  text-decoration: underline;
  color: #FCBA28;
}

.container.content::before {
  border-top: 20px solid #12B5E5;
  border-bottom: 20px solid #12B5E5;
  position: absolute;
  /* TODO: Refactor it */
  width: 400em;
  left: -200em;
  z-index: -1;
  height: 100%;
  top: 0;
  background: #0F0D0E;
  content: '';
}

section.highlight {
  background: #F38BA3;
  padding-bottom: 60px;
}

section.features {
  border-top: 20px solid #12B5E5;
  background: #0F0D0E;
  padding: 40px 0;
}

section.usage {
  border-top: 20px solid #ED203D;
  background: #12B5E5;
}

section.usage .twitter {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

section.usage h2 {
  color: white;
  background: #000;
  text-align: center;
}

section.usage .twitter .twitter-tweet {
  margin-left: 20px;
}

section.features a {
  color: #12B5E5;
  font-weight: 500;
}

section h2 {
  font-family: 'Silkscreen', helvetica;
  font-size: 25px;
  color: #0F0D0E;
  padding-left: 15px;
  background: #FCBA28;
}

section h3 {
  font-family: helvetica;
  font-size: 20px;
  padding-left: 12px;
  color: #0F0D0E;
  font-weight: bold;
  background-color: #12B5E5;
  margin: 60px 0 10px 0;
}

section h4 {
  font-family: helvetica;
  font-size: 18px;
  padding-left: 12px;
  color: #12B5E5;
  font-weight: bold;
  margin: 25px 0 0 0;
}

.container span.keyword {
  background: #FCBA28;
  color: #0F0D0E;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 5px;
}

section.features .container p {
  background: #0F0D0E;
  padding: 20px 45px;
  font-size: 16px;
  font-family: monospace;
  color: #F9F4DA;
}

.info {
  max-width: 520px;
  text-align: center;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Silkscreen', helvetica;
}

.info .block-logo {
  margin-bottom: 30px;
}

.info .block-logo #logo {
  margin-bottom: -45px;
}

.info .block {
  background: black;
}

.info .block:nth-of-type(3) a {
  font-size: 14px;
  color: #FCBA28;
  text-decoration: none;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .9);
}

.info h1 {
  font-size: 60px;
  color: #F9F4DA;
  font-family: 'Silkscreen', helvetica;
}

.list {
  /*position: relative;*/
  height: 300px;
}

#nav {
  position: relative;
  height: 80px;
  background: #F38BA3;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav #external-links, #nav #links {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

#nav #external-links, #nav #external-links img {
  width: 38px;
  height: 38px;
}

#nav #external-links:hover, #nav #nav-logo:hover {
  opacity: 0.8;
}

#nav ul a {
  text-decoration: none;
  font-family: Helvetica;
  color: #0F0D0E;
  margin: 0 12px 0 0;
  font-weight: bold;
}

#nav ul a:hover {
  text-decoration: underline;
  color: #F9F4DA;
}

.community {
  margin-top: 2em;
}

.testimonials {
  display: flex;
  padding: 1.2em;
  margin-top: 2em;
  margin-bottom: 0em;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.testimonial {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  animation-iteration-count: 2;
  text-align: center;
  line-height: 1.2em;
  font-size: 14px;
  color: #F9F4DA;
  background-color: #0F0D0E;
  padding: 25px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px #ED203D;
  width: 220px;
  height: 250px;
  margin: 0 30px;
  margin-bottom: 8em;
}

.testimonial:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: #FCBA28;
  text-shadow: 22px 22px #F9F4DA;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 1.2em;
  border-radius: 11px;
  background-color: #FCBA28;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #F9F4DA;
  z-index: -2;
}

.testimonial .text {
  font-size: 14px;
  margin-top: 14px;
}

.testimonial .source {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 9px;
  margin-top: 14px;
  color: #FCBA28;
}

.testimonial .person img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.container.post {
  padding: 50px;
  background: #F9F4DA;
  color: #0F0D0E;
}

.container.post div.post-title {
  background: #0F0D0E;
  width: 100%;
}

.container.post h1.post-title {
  font-size: 40px;
  color: #0F0D0E;
  width: fit-content;
  margin-left: 0.8em;
  padding: 0.5em;
  background: #F9F4DA;  
  font-family: 'Silkscreen', helvetica;
}

.container.post span.post-date {
  font-size: 14px;
}

.container.post span.post-categories {
  font-size: 12px;
  font-family: 'Silkscreen', helvetica;
}

.container.post .post-content {
  margin-top: 20px;
}

.container.post .post-content h1 {
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 32px;
  line-height: 1.3em;
  margin-bottom: 18px;
}

.container.post .post-content h2 {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 24px;
  text-decoration: underline;
  line-height: 1.3em;
  margin: 45px 0 20px 0;
}

.container.post .post-content p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 20px;
  line-height: 1.3em;
  margin: 0.8em 0;
}

.container.post .post-content img {
  width: 100%;
}

.container.post a {
  background: #ED203D;
  text-decoration: none;
  color: #F9F4DA;
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 5px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

@media (max-width: 620px) {
  #nav {
    display: block;
    width: 185px;
    margin-bottom: 140px;
    text-align: center;
  }

  #nav #links {
    width: 200px;
  }

  #nav #nav-logo {
    margin: 0 10px;
  }

  #nav #external-links {
    display: none;
  }

  .container.content::before {
    width: auto;
    left: 0;
  }

  .container.content {
    border-radius: 0px;
  }
}