/*background = '#0F0D0E'
foreground = '#F9F4DA'
cursor = '#F38BA3'
green = '#0BA95B'
red = '#ED203D'
blue = '#12B5E5'
yellow = '#FCBA28'
magenta = '#7B5EA7'*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* silkscreen-regular - latin */
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  src: url('silkscreen/silkscreen-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('silkscreen/silkscreen-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('silkscreen/silkscreen-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('silkscreen/silkscreen-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('silkscreen/silkscreen-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('silkscreen/silkscreen-v1-latin-regular.svg#Silkscreen') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8em;
  /*background: #333;*/
  background: #F38BA3;
  color: #F9F4DA;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica;
  font-size: 20px;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 820px;
  margin: 0 auto;
}

.container.content {
  padding: 40px;
  background: #0F0D0E;
  margin-top: 30px;
  padding-top: 80px;
  border-radius: 20px;
  z-index: 1;
  position: relative;
}

.container.content h2 {
  margin: 12px 0;
}

.container.content p {
  line-height: 1.4em;
  padding: 12px;
}

.container.content ul {
  margin: 40px 0;
}

.container.content a {
  text-decoration: none;
  color: #12B5E5;
}

.container.content a:hover {
  text-decoration: underline;
  color: #FCBA28;
}

.container.content::before {
  border-top: 20px solid #12B5E5;
  border-bottom: 20px solid #12B5E5;
  position: absolute;
  /* TODO: Refactor it */
  width: 400em;
  left: -200em;
  z-index: -1;
  height: 100%;
  top: 0;
  background: #0F0D0E;
  content: '';
}

section.highlight {
  background: #F38BA3;
  padding-bottom: 60px;
}

section.features {
  border-top: 20px solid #12B5E5;
  background: #0F0D0E;
  padding: 40px 0;
}

section.usage {
  border-top: 20px solid #ED203D;
  background: #12B5E5;
}

section.usage .twitter {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

section.usage h2 {
  color: white;
  background: #000;
  text-align: center;
}

section.usage .twitter .twitter-tweet {
  margin-left: 20px;
}

section.features a {
  color: #12B5E5;
  font-weight: 500;
}

section h2 {
  font-family: 'Silkscreen', helvetica;
  font-size: 25px;
  color: #0F0D0E;
  padding-left: 15px;
  background: #FCBA28;
}

section.features .container div {
  background: #0F0D0E;
  padding: 20px 45px;
  font-size: 16px;
  font-family: monospace;
  color: #F9F4DA;
}

.rio {
  width: 275px;
  height: 100px;
  margin: 0 20px;
  background: #0F0D0E;
  border-radius: 8px;
  line-height: 1.5;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: hidden;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.terminal-content {
  text-align: left;
  display: flex;
  margin: 10px;
  margin-top: -32px;
  overflow: hidden;
  border-right: 0.7em solid transparent;
  white-space: nowrap;
  letter-spacing: .15em;
  font-family: 'Silkscreen', helvetica;
  animation:
    typing 3.2s steps(42, end),
    blink-caret 3.2s step-end;
}

@media (max-width: 380px) {
  .rio {
    height: 150px;
    margin: 0 30px;
  }

  #nav #links {
    width: 260px;
  }

  #nav #links #links-download {
    display: none;
  }

  #nav #nav-logo {
    margin: 0 10px;
  }

  #nav #external-links {
    display: none;
  }

  .terminal-content {
    font-size: 12px;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  to { border-color: transparent }
  from, 50% { border-color: #F38BA3; }
  100% { border-color: transparent; }
}

/*.layer-1 {
  background: #000;
  position: relative;
  height: 30px;
}

.layer-2 {
  background: #111;
  position: relative;
  height: 10px;
}

.layer-3 {
  background: #0F0D0E;
  position: relative;
  height: 10px;
}*/

.preview {
/*  max-width: 1020px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.info {
  max-width: 520px;
  text-align: center;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Silkscreen', helvetica;
}

.info .block-logo {
  margin-bottom: 30px;
}

.info .block-logo #logo {
  margin-bottom: -45px;
}

.info .block {
  background: black;
}

.info .block:nth-of-type(3) a {
  font-size: 14px;
  color: #FCBA28;
  text-decoration: none;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .9);
}

.info h1 {
  font-size: 60px;
  color: #F9F4DA;
  font-family: 'Silkscreen', helvetica;
}

.terminal-header {
  height: 30px;
  margin-top: -42px;
  display: flex;
  align-items: center;
  text-align: center;
}

.terminal-icon:first-of-type {
  background: #ff5f56;
  margin-left: 12px;
}

.terminal-icon {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.terminal-icon:nth-of-type(2) {
  background: #ffbd2e;
}

.terminal-icon:nth-of-type(3) {
  background: #27c93f;
}

.terminal-icon + .terminal-icon {
  margin-left: 8px;
}

.list {
  /*position: relative;*/
  height: 300px;
}

#nav {
  position: relative;
  height: 80px;
  background: #F38BA3;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav #external-links, #nav #links {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

#nav #external-links, #nav #external-links img {
  width: 38px;
  height: 38px;
}

#nav #external-links:hover, #nav #nav-logo:hover {
  opacity: 0.8;
}

#nav ul a {
  text-decoration: none;
  font-family: Helvetica;
  color: #0F0D0E;
  margin: 0 12px 0 0;
  font-weight: bold;
}

#nav ul a:hover {
  text-decoration: underline;
  color: #F9F4DA;
}
