.container.post {
  padding: 50px;
  background: #F9F4DA;
  color: #0F0D0E;
}

.container.post div.post-title {
  background: #0F0D0E;
  width: 100%;
}

.container.post h1.post-title {
  font-size: 40px;
  color: #0F0D0E;
  width: fit-content;
  margin-left: 0.8em;
  padding: 0.5em;
  background: #F9F4DA;  
  font-family: 'Silkscreen', helvetica;
}

.container.post span.post-date {
  font-size: 14px;
}

.container.post span.post-categories {
  font-size: 12px;
  font-family: 'Silkscreen', helvetica;
}

.container.post .post-content {
  margin-top: 20px;
}

.container.post .post-content h1 {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 32px;
  line-height: 1.3em;
  margin-bottom: 18px;
}

.container.post .post-content p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 20px;
  line-height: 1.3em;
}