name: Release

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  GITHUB_REPOSITORY: raphamorim/rio

jobs:
  release:
    name: Release
    permissions:
      contents: write
      discussions: write
    strategy:
      matrix:
        target:
          - aarch64-apple-darwin
          - x86_64-apple-darwin
        include:
          - target: aarch64-apple-darwin
            os: macos-latest
            make: pack-osx-arm
            filename: macos-arm64.zip
          - target: x86_64-apple-darwin
            os: macos-latest
            make: pack-osx-x86
            filename: macos-x86.zip

    # defining OS based on the image of the architecture
    runs-on: ${{matrix.os}}

    env:
      RUSTFLAGS: "-C target-cpu=native"
      RUST_BACKTRACE: full

    steps:
      - name: Checkout source Git repo
        uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"
          cache-all-crates: "true"
          cache-targets: "true"

      - run: rustup toolchain install stable --profile minimal --target ${{ matrix.target }}
      - run: mkdir release
      - run: cargo install cargo-bundle
      - run: make ${{matrix.make}}

      - name: Release banch main
        uses: softprops/action-gh-release@v1
        if: github.ref == '/refs/heads/master'
        with:
          name: night
          prerelease: true
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            build/${{matrix.filename}}
            LICENSE

      - name: Release tag
        uses: softprops/action-gh-release@v1
        if: startsWith(github.event.ref, 'refs/tags/v')
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            build/${{matrix.filename}}
            LICENSE
